@import url('https://fonts.googleapis.com/css?family=Bitter');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FAFAFA;
}

html, body{
	font: 1.2em 'Bitter', serif;
    background: white;
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}

.container{
    width: 80%;
    height: auto;
    text-align: center;
    color: #E3E3E3;
    margin: 50px auto;
    padding: 20px 20px 9px;
    background: #9dd2ea;
        background: linear-gradient(#009bfb,#0077C0);
    border-radius: 3px;
    box-shadow: 0px 4px #009bfb, 0px 10px 15px rgba(0, 0, 0, 0.2);
    
}

.moves{
    margin: 10px;
}

.resetLevelButton , .switchLevelButton{
    margin: 2% 1%;
    padding: 1%;
    box-shadow: 0px 4px #9DE5FF;
    cursor: pointer;
    width: 30%;
    height: 36px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    color: #888;
    line-height: 36px;
    text-align: center;
    user-select: none;
    transition: all 0.2s ease;
}
.resetLevelButton:hover , .switchLevelButton:hover{
    background: #A3DE83;
	box-shadow: 0px 4px #2EB872  !important;
	color: white;
}
table{
    width: 80%;
    margin: 20px auto;
    height: 300px;
    border-spacing: 0px;
}

td{
    width: 24px;
	height: 36px;
    user-select: none;
    text-align: center;
}
.void{
    border: none;
}

.wall{
    background: #F05941;
    border: outset 1px #e5e5e5;
}

.floor{
    background: #F5F5F5;
    box-shadow: inset 1px 1px rgba(0,0,0,0.2);
}

.box{
    background: #ED9153 !important;

}

.storage{
    background: #A9C52F!important;
    border: inset 1px #A2C11C;
}

.player{
    background-image: url('../imgs/goku.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; 
}

.player , .box , .floor{
    transition: all 0.5s ease-in-out;
}

img{
    width: 20px;
}